.page-icon {
  color: $text-secondary-color;
  left: 0;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(0, -50%);
  transition: color 0.2s linear;
  width: 100%;

  &.active {
    color: $accent-color;
  }

  .material-icons {
    font-size: 6rem;
    margin: 0 0 1rem;
  }
}
