.progress {
  background-color: #fff;

  .progress-bar {
    background-color: rgba($primary-color, 0.3);
    height: 4px;
    left: 10%;
    margin: -2px 0 0;
    overflow: hidden;
    position: absolute;
    top: 50%;
    width: 80%;

    &::before {
      animation: 'progpos' 2s ease-in-out 0s infinite, 'progwidth' 3s ease-in-out 0s infinite alternate-reverse;
      background-color: $primary-color;
      bottom: 0;
      content: '';
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
    }
  }
}

@keyframes progpos {
  from {
    margin-left: -50%;
  }

  to {
    margin-left: 100%;
  }
}

@keyframes progwidth {
  from {
    width: 25%;
  }

  to {
    width: 50%;
  }
}
