$text-primary-color: rgba(#000, 0.87);
$text-secondary-color: rgba(#000, 0.54);
$text-disabled-color: rgba(#000, 0.38);
$text-hint-color: rgba(#000, 0.38);

$primary-color: #795548;
$primary-color-100: #d7ccc8;
$accent-color: #4caf50;
